<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Agenda</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-3 head-bar">
            <img src="../media/icons/icons8_Contacts_48px_2.png" class=" align-middle mx-2" alt="">
            <span class="align-middle title">Contactos</span>
        </div>
        <div class="col-lg-10 col-md-9 head-bar">
          <div class="row justify-content-center align-items-center" style="height: 100%;">
            <form class="f-inline form-inline align-middle col-lg-7 col-md-12">
              <input class="form-control w-75 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <form class="f-inline form-inline align-middle col-lg-5 col-md-12">
              <div class="order-bar">
                <span>ordenar por: </span>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="byName" name="orderBy" class="custom-control-input" checked>
                  <label class="custom-control-label" for="byName">Alfabeticamente</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="byAge" name="orderBy" class="custom-control-input">
                  <label class="custom-control-label" for="byAge">Por edad</label>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-3" id="side-bar">
          <button type="button" class="btn-add-contact m-2" name="button"  data-toggle="modal" data-target="#addContactForm">
            <img src="../media/icons/icons8_Plus_Math_48px.png" class="icon-36" alt="">
            <span class="align-middle text-btn">Crear Contacto</span>
          </button>
          <div class="list mt-4">
            <div class="list-item">
              <div class="align-middle inline mx-4">
                <img src="../media/icons/icons8_Add_User_Male_48px.png" class="icon-20 align-middle" alt="">
                <span class="text-item align-middle mx-3">Contactos</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-md-9">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th><th>Edad</th><th>Correo</th><th>No. Telefono</th><th>Direccion</th><th></th>
              </tr>
            </thead>
            <tbody id="tableBody">

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addContactForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo Contacto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" id="newContactForm" novalidate>
              <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Nombre" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email" required>
              </div>
              <div class="form-row form-group">
                <div class="col-6">
                  <input type="date" class="form-control" id="birthday" placeholder="Fecha de Nacimiento" required>
                </div>
                <div class="col-6">
                  <input type="number" class="form-control" id="telephone" placeholder="No. Telefono" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="address" placeholder="Direccion" required>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary mx-3" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="addContact">Crear Contacto</button>
          </div>
        </div>
      </div>
    </div>

    <!--Javascript funcional-->
    <script src="../js/main.js" type="module">

    </script>
    <!--bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
