<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Agenda</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-2 head-bar">
            <img src="../media/icons/icons8_Contacts_48px_2.png" class=" align-middle mx-2" alt="">
            <span class="align-middle title">Contactos</span>
        </div>
        <div class="col-10 head-bar">
          <div class="row justify-content-center align-items-center" style="height: 100%;">
            <form class="f-inline form-inline  align-middle col-7">
              <input class="form-control w-75 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2" id="side-bar">
          <button type="button" class="btn-add-contact m-2" name="button">
            <img src="../media/icons/icons8_Plus_Math_48px.png" class="icon-36" alt="">
            <span class="align-middle text-btn">Crear Contacto</span>
          </button>
          <div class="list mt-4">
            <div class="list-item">
              <div class="align-middle inline mx-4">
                <img src="../media/icons/icons8_Add_User_Male_48px.png" class="icon-20 align-middle" alt="">
                <span class="text-item align-middle mx-3">Contactos</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th><th>Edad</th><th>Correo</th><th>No. Telefono</th><th>Direccion</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <!--bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
